{% extends "base.html.twig" %}
{% block body %}
        <p>Vous êtes maintenant correctement identifié</p>
        <p><a href="{{ path('client_page') }}">Accéder à l'espace 
clients</a></p>
        <p><a href="{{ path('admin_page') }}">Accéder à l'espace 
administrateur</a></p>
{% endblock %}
